<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta regionName="viewport" content="width=device-width, initial-scale=1">

    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/locations.js}"></script>

    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/jquery.dataTables.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<div class="container">

    <div class="container"><br/>
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert"
               aria-label="close">×</a>
            <strong>Success!</strong> It is working as we expected.
        </div>
    </div>

    <div class="row">
        <div id="title">
            <h1>locations</h1>
        </div>

        <table id="example" class="display" style="width:100%">
            <thead>
            <tr class="tr-header">
                <th name="id" style="width: 10%">Id</th>
                <th name="streetAddress" style="width: 35%">Street</th>
                <th name="postalCode">Postal Code</th>
                <th name="city">City</th>
                <th name="stateProvince">State</th>
                <th name="countryId">Country</th>
            </tr>
            </thead>
            <!-- TODO
            <tfoot>
            <tr class="tr-filters">
                <th><input id="id-search" type="text" placeholder="Filter"/></th>
                <th><input id="streetAddress-search" type="text" placeholder="Filter"/></th>
                <th><input id="postalCode-search" type="text" placeholder="Filter"/></th>
                <th><input id="city-search" type="text" placeholder="Filter"/></th>
                <th><input id="stateProvince-search" type="text" placeholder="Filter"/></th>
            </tr>
            </tfoot>
            -->
        </table>
    </div>

</div>