<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta regionName="viewport" content="width=device-width, initial-scale=1">

    <script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <ul>
        <li><a href="locations">locations</a> </li>
        <li><a href="departments">departments</a> </li>
        <li><a href="employees">employees</a> </li>
    </ul>
</div>