#title {
    margin: 40px 0;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #fafafa; // Choose your own color here
}

.table-hover> tbody> tr:hover{
    background-color:ghostwhite;
}